Import necessary libraries

In [153]:
import pandas as pd
import numpy as np

In [154]:
df = pd.read_excel("../Datasets/cities.xlsx")

In [155]:
df.head(15)

          Name  Affected  Dist  Population
0     İstanbul         0     1    15462452
1       Ankara         0     1     5663322
2        İzmir         0     1     4394694
3        Bursa         0     1     3101833
4      Antalya         0     1     2548308
5        Adana         1     0     2258718
6        Konya         0     1     2250020
7    Şanlıurfa         1     0     2115256
8    Gaziantep         1     0     2101157
9      Kocaeli         0     1     1997258
10      Mersin         0     1     1868757
11  Diyarbakır         1     0     1783431
12       Hatay         1     0     1659320
13      Manisa         0     1     1450616
14     Kayseri         0     1     1421455

In [156]:
dist_centers = df[df["Dist"]==1]["Name"].str.title().to_list()

In [157]:
affected_cities = df[df["Affected"]==1]["Name"].to_list()

In [158]:
dist_centers

['İstanbul',
 'Ankara',
 'İzmir',
 'Bursa',
 'Antalya',
 'Konya',
 'Kocaeli',
 'Mersin',
 'Manisa',
 'Kayseri']

In [159]:
affected_cities

['Adana',
 'Şanlıurfa',
 'Gaziantep',
 'Diyarbakır',
 'Hatay',
 'Kahramanmaraş',
 'Malatya',
 'Adıyaman',
 'Elazığ',
 'Osmaniye',
 'Kilis']

Create distances matrix

In [160]:
distances = pd.read_excel("../Datasets/ilmesafe.xlsx")

In [161]:
distances

,Name,Adana,Adıyaman,Afyonkarahisar,Ağrı,Amasya,Ankara,Antalya,Artvin,Aydın,...,Batman,Şırnak,Bartın,Ardahan,Iğdır,Yalova,Karabük,Kilis,Osmaniye,Düzce
0,Adana,NaN,337.0,578.0,973.0,603.0,492.0,547.0,1001.0,880.0,...,628.0,712.0,784.0,1037.0,1077.0,905.0,714.0,251.0,89.0,735.0
1,Adıyaman,337.0,NaN,915.0,642.0,627.0,732.0,884.0,715.0,1217.0,...,297.0,464.0,1016.0,751.0,746.0,1137.0,946.0,210.0,244.0,966.0
2,Afyonkarahisar,578.0,915.0,NaN,1320.0,596.0,255.0,287.0,1224.0,340.0,...,1207.0,1290.0,518.0,1361.0,1464.0,346.0,449.0,830.0,667.0,371.0
3,Ağrı,973.0,642.0,1320.0,NaN,740.0,1055.0,1424.0,364.0,1634.0,...,365.0,424.0,1171.0,305.0,144.0,1363.0,1106.0,812.0,880.0,1192.0
4,Amasya,603.0,627.0,596.0,740.0,NaN,331.0,823.0,679.0,935.0,...,805.0,998.0,436.0,781.0,884.0,629.0,371.0,640.0,603.0,458.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Yalova,905.0,1137.0,346.0,1363.0,629.0,407.0,610.0,1238.0,507.0,...,1403.0,1549.0,373.0,1347.0,1507.0,NaN,351.0,1116.0,994.0,171.0
77,Karabük,714.0,946.0,449.0,1106.0,371.0,216.0,735.0,958.0,788.0,...,1174.0,1358.0,86.0,1067.0,1250.0,351.0,NaN,925.0,803.0,180.0
78,Kilis,251.0,210.0,830.0,812.0,640.0,711.0,798.0,885.0,1131.0,...,467.0,550.0,995.0,920.0,915.0,1116.0,925.0,NaN,159.0,945.0
79,Osmaniye,89.0,244.0,667.0,880.0,603.0,581.0,636.0,909.0,969.0,...,535.0,619.0,873.0,944.0,984.0,994.0,803.0,159.0,NaN,823.0
80,Düzce,735.0,966.0,371.0,1192.0,458.0,237.0,636.0,1067.0,688.0,...,1232.0,1378.0,202.0,1177.0,1336.0,171.0,180.0,945.0,823.0,NaN

In [162]:
# Create a new dataframe
new_df = pd.DataFrame(columns=distances.columns)

# Iterate over each row in the original dataframe
for index, row in distances.iterrows():
    if row['Name'] in dist_centers:
        # Append the row to the new dataframe
        new_df = new_df.append(row)

C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_18672\2085871676.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)

In [163]:
dist_centers

['İstanbul',
 'Ankara',
 'İzmir',
 'Bursa',
 'Antalya',
 'Konya',
 'Kocaeli',
 'Mersin',
 'Manisa',
 'Kayseri']

In [164]:
distance_df = new_df[affected_cities]

In [165]:
distance_df

,Adana,Şanlıurfa,Gaziantep,Diyarbakır,Hatay,Kahramanmaraş,Malatya,Adıyaman,Elazığ,Osmaniye,Kilis
5,492.0,786.0,647.0,898.0,688.0,572.0,652.0,732.0,749.0,581.0,711.0
6,547.0,902.0,763.0,1084.0,743.0,744.0,953.0,884.0,1051.0,636.0,798.0
15,856.0,1158.0,1020.0,1270.0,1052.0,944.0,1024.0,1104.0,1121.0,945.0,1083.0
32,70.0,424.0,286.0,606.0,265.0,267.0,466.0,407.0,564.0,159.0,321.0
33,951.0,1237.0,1098.0,1349.0,1147.0,1023.0,1103.0,1183.0,1200.0,1040.0,1162.0
34,907.0,1261.0,1123.0,1436.0,1102.0,1104.0,1190.0,1244.0,1287.0,995.0,1158.0
37,335.0,468.0,330.0,581.0,428.0,255.0,335.0,414.0,432.0,356.0,393.0
40,840.0,1127.0,988.0,1239.0,1036.0,913.0,993.0,1072.0,1090.0,929.0,1051.0
41,357.0,712.0,573.0,887.0,553.0,555.0,641.0,695.0,738.0,446.0,609.0
44,886.0,1240.0,1102.0,1415.0,1081.0,1083.0,1169.0,1223.0,1266.0,974.0,1137.0

In [166]:
distance_matrix = np.array(distances_matrix)

In [167]:
coefs_list = [int(i)/10 for i in range(10,0,-1)]

In [168]:
coefs_list

[1.0, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1]

In [169]:
truck = 500
helicopter = 10

In [170]:
trucks = [coefs_list[i]*truck for i in range(len(coefs_list))]

In [171]:
helicopters = [coefs_list[i]*helicopter for i in range(len(coefs_list))]

In [172]:
trucks

[500.0, 450.0, 400.0, 350.0, 300.0, 250.0, 200.0, 150.0, 100.0, 50.0]

In [173]:
helicopters

[10.0, 9.0, 8.0, 7.0, 6.0, 5.0, 4.0, 3.0, 2.0, 1.0]

In [174]:
helicopter_capacity = 10000
truck_capacity = 20000

In [175]:
helicopter_speed_coef = 250
truck_speed_coef = 80

In [176]:
# def objective(dist_cities,affected_cities,demand_list,capacity_list,distance,capacity,vehicle_speed_coef):
#     for i in affected_cities:
#         for j in dist_cities:
            
#     time = distance / (capacity * vehicle_speed_coef)

Objective Function
Minimize: Σ(c_i * x_i) -- This part represents the cost

Subject to: Σ(t_i * x_i) ≤ T_max --

Total erzak <br>
araçların kapasitesi: helikopter ve kamyon<br>
helikopter sayımız ve kamyon sayımız belli<br>
İstanbuldan çıkan bir kamyon<br>
Ankara 1000 erzak 50 kamyon 10 helikopter<br>
Bursa 1000 erzak 50 kamyon 10 helikopter<br>
Total erzak ihtiyaçtan fazla tanımlanacak

In [177]:
MAX_HELICOPTER_CAPACITY = 2000
HELICOPTER_SPEED = 200
MAX_TRUCK_CAPACITY = 1000
TRUCK_SPEED = 100
NUM_DISTRIBUTION_CENTERS = 10
NUM_AFFECTED_CITIES = 11
road_blocked = np.array([
    [False, False, False, True, False, False, False, False, False, False, False],
    [False, False, False, False, True, False, False, False, False, False, False],
    [False, False, False, False, False, True, False, False, False, False, False],
    [True, False, False, False, False, False, True, False, False, False, False],
    [False, True, False, False, False, False, False, True, False, False, False],
    [False, False, True, False, False, False, False, False, True, False, False],
    [False, False, False, True, False, False, False, False, False, True, False],
    [False, False, False, False, True, False, False, False, False, False, True],
    [False, False, False, False, False, True, False, False, False, False, False],
    [False, False, False, False, False, False, True, False, False, False, False]
])

demand_matrix = np.array([
    [100, 150, 200, 120, 80, 90, 140, 160, 110, 130],
    [140, 110, 190, 100, 130, 150, 120, 180, 90, 140],
    [120, 140, 160, 110, 100, 120, 140, 130, 150, 100],
    [160, 120, 130, 150, 140, 110, 100, 130, 140, 120],
    [100, 90, 140, 160, 120, 130, 150, 140, 100, 110],
    [110, 140, 130, 120, 100, 150, 160, 90, 110, 140],
    [90, 100, 120, 130, 140, 110, 150, 140, 130, 100],
    [130, 120, 110, 140, 150, 100, 90, 120, 140, 110],
    [140, 100, 130, 120, 110, 140, 150, 100, 120, 130],
    [120, 140, 110, 100, 130, 120, 140, 160, 110, 100],
    [110, 100, 150, 120, 140, 160, 120, 130, 110, 140]
])

In [178]:
import random

def create_population(size, bounds):
    population = []
    for _ in range(size):
        individual = [
            random.randint(0, MAX_HELICOPTER_CAPACITY),
            random.randint(0, MAX_TRUCK_CAPACITY)
        ]
        population.append(individual)
    return population

def fitness_function(individual):
    helicopter_allocation = individual[0]
    truck_allocation = individual[1]
    
    total_cost = 0

    for i in range(NUM_DISTRIBUTION_CENTERS):
        for j in range(NUM_AFFECTED_CITIES):
            if not road_blocked[i][j]:  # road is not blocked
                distance = distance_matrix[i][j]

                allocated_weight_helicopter = min(helicopter_allocation, demand_matrix[j][i])  # Access demand for affected city j and distribution center i
                allocated_weight_truck = min(truck_allocation, demand_matrix[j][i])  # Access demand for affected city j and distribution center i

                total_cost += distance * (allocated_weight_helicopter / HELICOPTER_SPEED) 
                total_cost += distance * (allocated_weight_truck / TRUCK_SPEED) 
    return total_cost


def selection(population, num_parents):
    parents = random.sample(population, num_parents)
    return parents

def crossover(parents, num_offspring):
    offspring = []
    for _ in range(num_offspring):
        parent1, parent2 = random.sample(parents, 2)
        child = [parent1[0], parent2[1]]
        offspring.append(child)
    return offspring

def mutation(offspring, mutation_rate, bounds):
    for child in offspring:
        if random.random() < mutation_rate:
            child[0] = random.randint(bounds[0], bounds[1])
            child[1] = random.randint(bounds[0], bounds[1])

def genetic_algorithm(bounds, population_size, num_generations, num_parents, num_offspring, mutation_rate):
    population = create_population(population_size, bounds)

    for _ in range(num_generations):
        parents = selection(population, num_parents)
        offspring = crossover(parents, num_offspring)
        mutation(offspring, mutation_rate, bounds)

        population = parents + offspring

        fitness_values = [fitness_function(individual) for individual in population]

        best_fitness = min(fitness_values)
        best_individual = population[fitness_values.index(best_fitness)]

    return best_individual, population

# Parameters
bounds = (0, 1000)
population_size = 100
num_generations = 50
num_parents = 50
num_offspring = 50
mutation_rate = 0.1

# Run the genetic algorithm
best_individual, population = genetic_algorithm(bounds, population_size, num_generations, num_parents, num_offspring, mutation_rate)

print("Best Individual:", best_individual)
print("Best Fitness:", fitness_function(best_individual))

Best Individual: [720, 29]
Best Fitness: 73315.97000000004

In [179]:
def fitness_function(x, y):
    helicopter_allocation = x
    truck_allocation = y
    
    total_cost = 0

    for i in range(NUM_DISTRIBUTION_CENTERS):
        for j in range(NUM_AFFECTED_CITIES):
            if not road_blocked[i][j]:  # road is not blocked
                distance = distance_matrix[i][j]

                allocated_weight_helicopter = min(helicopter_allocation, demand_matrix[j][i])  # Access demand for affected city j and distribution center i
                allocated_weight_truck = min(truck_allocation, demand_matrix[j][i])  # Access demand for affected city j and distribution center i

                total_cost += distance * (allocated_weight_helicopter / HELICOPTER_SPEED) 
                total_cost += distance * (allocated_weight_truck / TRUCK_SPEED) 
    return total_cost

In [180]:
def simulated_annealing(function, bounds, n_iterations, initial_temp, cooling_rate):
    # Initialize a solution randomly within bounds
    current_sol = np.random.uniform(low=bounds[0], high=bounds[1], size=2)
    # Find the cost of the initalized cost
    current_cost = function(*current_sol)

    # At the beginning, initialized solution is best solution, and its cost is best cost
    best_sol, best_cost = current_sol, current_cost
    # Store best solutions
    trajectory = [best_sol]

    # Perform simulated annealing
    for i in range(n_iterations):
        # Generate a candidate solution by adding Gaussian perturbation to the current solution
        candidate_sol = current_sol + np.random.randn(2)
        # Stay withing bounds
        candidate_sol = np.clip(candidate_sol, bounds[0], bounds[1])
        # Cost of the candidate solution
        candidate_cost = function(*candidate_sol)

        # Candidate solution becomes current solution if it has a lower cost 
        # or with a certain probability based on temperature
        if candidate_cost < current_cost or np.random.rand() < np.exp((current_cost - candidate_cost) / initial_temp):
            current_sol, current_cost = candidate_sol, candidate_cost

            # Update the best solution if the candidate has a lower cost
            if candidate_cost < best_cost:
                best_sol, best_cost = candidate_sol, candidate_cost
                # Append current best solution to trajectory list
                trajectory.append(best_sol)

        # Cool down the temperature
        initial_temp *= cooling_rate
#     Return best solution, best cost, and array that we store best solutions
    return best_sol, best_cost, trajectory

bounds = (0, 1000)
n_iterations = 1000
initial_temp = 1000
cooling_rate = 0.9

best_allocation, best_fitness, trajectory = simulated_annealing(fitness_function, bounds, n_iterations, initial_temp, cooling_rate)

print("Best Allocation:", best_allocation)
print("Best Fitness:", best_fitness)

Best Allocation: [521.55250827 872.83549014]
Best Fitness: 150719.4