In [361]:
pip install pulp

Requirement already satisfied: pulp in c:\users\hp\anaconda3\lib\site-packages (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [362]:
import pandas as pd
import numpy as np

In [363]:
distances = pd.read_excel("../Datasets/ilmesafe.xlsx")

In [364]:
df = pd.read_excel("../Datasets/cities.xlsx")

In [365]:
dist_center_names = df[df["Dist"]==1]["Name"].str.title().to_list()
dist_centers = df[df["Dist"]==1]["Population"]

In [366]:
affected_cities = df[df["Affected"]==1]["Name"].to_list()

In [367]:
distances.head()

,Name,Adana,Adıyaman,Afyonkarahisar,Ağrı,Amasya,Ankara,Antalya,Artvin,Aydın,...,Batman,Şırnak,Bartın,Ardahan,Iğdır,Yalova,Karabük,Kilis,Osmaniye,Düzce
0,Adana,NaN,337.0,578.0,973.0,603.0,492.0,547.0,1001.0,880.0,...,628.0,712.0,784.0,1037.0,1077.0,905.0,714.0,251.0,89.0,735.0
1,Adıyaman,337.0,NaN,915.0,642.0,627.0,732.0,884.0,715.0,1217.0,...,297.0,464.0,1016.0,751.0,746.0,1137.0,946.0,210.0,244.0,966.0
2,Afyonkarahisar,578.0,915.0,NaN,1320.0,596.0,255.0,287.0,1224.0,340.0,...,1207.0,1290.0,518.0,1361.0,1464.0,346.0,449.0,830.0,667.0,371.0
3,Ağrı,973.0,642.0,1320.0,NaN,740.0,1055.0,1424.0,364.0,1634.0,...,365.0,424.0,1171.0,305.0,144.0,1363.0,1106.0,812.0,880.0,1192.0
4,Amasya,603.0,627.0,596.0,740.0,NaN,331.0,823.0,679.0,935.0,...,805.0,998.0,436.0,781.0,884.0,629.0,371.0,640.0,603.0,458.0

In [368]:
# Create a new dataframe
new_df = pd.DataFrame(columns=distances.columns)

# Iterate over each row in the original dataframe
for index, row in distances.iterrows():
    if row['Name'] in dist_center_names:
        # Append the row to the new dataframe
        new_df = new_df.append(row)

C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)
C:\Users\Hp\AppData\Local\Temp\ipykernel_20108\3896158377.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(row)

In [369]:
distance_df = new_df[affected_cities]

In [370]:
distance_df

,Adana,Şanlıurfa,Gaziantep,Diyarbakır,Hatay,Kahramanmaraş,Malatya,Adıyaman,Elazığ,Osmaniye,Kilis
5,492.0,786.0,647.0,898.0,688.0,572.0,652.0,732.0,749.0,581.0,711.0
6,547.0,902.0,763.0,1084.0,743.0,744.0,953.0,884.0,1051.0,636.0,798.0
15,856.0,1158.0,1020.0,1270.0,1052.0,944.0,1024.0,1104.0,1121.0,945.0,1083.0
32,70.0,424.0,286.0,606.0,265.0,267.0,466.0,407.0,564.0,159.0,321.0
33,951.0,1237.0,1098.0,1349.0,1147.0,1023.0,1103.0,1183.0,1200.0,1040.0,1162.0
34,907.0,1261.0,1123.0,1436.0,1102.0,1104.0,1190.0,1244.0,1287.0,995.0,1158.0
37,335.0,468.0,330.0,581.0,428.0,255.0,335.0,414.0,432.0,356.0,393.0
40,840.0,1127.0,988.0,1239.0,1036.0,913.0,993.0,1072.0,1090.0,929.0,1051.0
41,357.0,712.0,573.0,887.0,553.0,555.0,641.0,695.0,738.0,446.0,609.0
44,886.0,1240.0,1102.0,1415.0,1081.0,1083.0,1169.0,1223.0,1266.0,974.0,1137.0

In [371]:
dist_centers

0     15462452
1      5663322
2      4394694
3      3101833
4      2548308
6      2250020
9      1997258
10     1868757
13     1450616
14     1421455
Name: Population, dtype: int64

In [372]:
maras = np.array(distances[distances["Name"] == "Kahramanmaraş"].fillna(0)[affected_cities].values.tolist())

In [373]:
maras = np.sort(maras)

In [374]:
print(maras)

[[  0.  78. 105. 141. 162. 176. 197. 217. 222. 319. 368.]]

In [375]:
demands= [1000 - maras[i] for i in range(len(maras))]

In [376]:
demands

[array([1000.,  922.,  895.,  859.,  838.,  824.,  803.,  783.,  778.,
         681.,  632.])]

In [377]:
distance_df.head(1)

,Adana,Şanlıurfa,Gaziantep,Diyarbakır,Hatay,Kahramanmaraş,Malatya,Adıyaman,Elazığ,Osmaniye,Kilis
5,492.0,786.0,647.0,898.0,688.0,572.0,652.0,732.0,749.0,581.0,711.0

In [378]:
distance_matrix = np.array(distance_df)

In [379]:
distance_matrix

array([[492.0, 786.0, 647.0, 898.0, 688.0, 572.0, 652.0, 732.0, 749.0,
        581.0, 711.0],
       [547.0, 902.0, 763.0, 1084.0, 743.0, 744.0, 953.0, 884.0, 1051.0,
        636.0, 798.0],
       [856.0, 1158.0, 1020.0, 1270.0, 1052.0, 944.0, 1024.0, 1104.0,
        1121.0, 945.0, 1083.0],
       [70.0, 424.0, 286.0, 606.0, 265.0, 267.0, 466.0, 407.0, 564.0,
        159.0, 321.0],
       [951.0, 1237.0, 1098.0, 1349.0, 1147.0, 1023.0, 1103.0, 1183.0,
        1200.0, 1040.0, 1162.0],
       [907.0, 1261.0, 1123.0, 1436.0, 1102.0, 1104.0, 1190.0, 1244.0,
        1287.0, 995.0, 1158.0],
       [335.0, 468.0, 330.0, 581.0, 428.0, 255.0, 335.0, 414.0, 432.0,
        356.0, 393.0],
       [840.0, 1127.0, 988.0, 1239.0, 1036.0, 913.0, 993.0, 1072.0,
        1090.0, 929.0, 1051.0],
       [357.0, 712.0, 573.0, 887.0, 553.0, 555.0, 641.0, 695.0, 738.0,
        446.0, 609.0],
       [886.0, 1240.0, 1102.0, 1415.0, 1081.0, 1083.0, 1169.0, 1223.0,
        1266.0, 974.0, 1137.0]], dtype=object)

In [380]:
coefs_list = [int(i)/10 for i in range(10,0,-1)]

In [381]:
print(coefs_list)

[1.0, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1]

In [382]:
dist_centers = dist_centers.values.tolist()

In [383]:
dist_centers

[15462452,
 5663322,
 4394694,
 3101833,
 2548308,
 2250020,
 1997258,
 1868757,
 1450616,
 1421455]

In [384]:
supply = [dist_centers[i]/10**4 for i in range(len(dist_centers))]

In [385]:
supply

[1546.2452,
 566.3322,
 439.4694,
 310.1833,
 254.8308,
 225.002,
 199.7258,
 186.8757,
 145.0616,
 142.1455]

In [386]:
cost = distance_matrix

In [387]:
cost

array([[492.0, 786.0, 647.0, 898.0, 688.0, 572.0, 652.0, 732.0, 749.0,
        581.0, 711.0],
       [547.0, 902.0, 763.0, 1084.0, 743.0, 744.0, 953.0, 884.0, 1051.0,
        636.0, 798.0],
       [856.0, 1158.0, 1020.0, 1270.0, 1052.0, 944.0, 1024.0, 1104.0,
        1121.0, 945.0, 1083.0],
       [70.0, 424.0, 286.0, 606.0, 265.0, 267.0, 466.0, 407.0, 564.0,
        159.0, 321.0],
       [951.0, 1237.0, 1098.0, 1349.0, 1147.0, 1023.0, 1103.0, 1183.0,
        1200.0, 1040.0, 1162.0],
       [907.0, 1261.0, 1123.0, 1436.0, 1102.0, 1104.0, 1190.0, 1244.0,
        1287.0, 995.0, 1158.0],
       [335.0, 468.0, 330.0, 581.0, 428.0, 255.0, 335.0, 414.0, 432.0,
        356.0, 393.0],
       [840.0, 1127.0, 988.0, 1239.0, 1036.0, 913.0, 993.0, 1072.0,
        1090.0, 929.0, 1051.0],
       [357.0, 712.0, 573.0, 887.0, 553.0, 555.0, 641.0, 695.0, 738.0,
        446.0, 609.0],
       [886.0, 1240.0, 1102.0, 1415.0, 1081.0, 1083.0, 1169.0, 1223.0,
        1266.0, 974.0, 1137.0]], dtype=object)

In [388]:
from pulp import *

# Create a linear programming problem
prob = LpProblem("Resource Allocation", LpMinimize)

# Define the decision variables
supply_cities = range(10)
demand_cities = range(11)
x = LpVariable.dicts("Transfer", (supply_cities, demand_cities), lowBound=0)

# Define the objective function
prob += lpSum(x[i][j] * cost[i][j] for i in supply_cities for j in demand_cities)

# Define the supply constraints
for i in supply_cities:
    prob += lpSum(x[i][j] for j in demand_cities) == supply[i]

# Define the demand constraints
for j in demand_cities:
    prob += lpSum(x[i][j] for i in supply_cities) >= demand[j]



# Solve the linear programming problem
prob.solve()
# Create a matrix to store the optimal solution
transfer_matrix = np.array([[x[i][j].varValue for j in demand_cities] for i in supply_cities])
print(transfer_matrix)
# # Print the optimal solution
# print("Optimal Solution:")
# for i in supply_cities:
#     for j in demand_cities:
#         print(f"Transfer from supply {i} to demand {j}: {x[i][j].varValue}")

[[1546.2452    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 566.3322    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 439.4694    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 310.1833    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 254.8308    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 217.002     0.        0.        0.        0.        0.        0.
     0.        0.        8.        0.    ]
 [   0.        8.        3.        7.        8.      147.7258    7.
     8.        3.        0.        8.    ]
 [ 186.8757    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 145.0616    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]
 [ 142.1455    0.        0.        0.        0.        0.        0.
     0.        0.        0.        0.    ]]

C:\Users\Hp\anaconda3\lib\site-packages\pulp\pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [389]:
# from pulp import *

# # Create a linear programming problem
# prob = LpProblem("Resource Allocation", LpMinimize)

# # Define the decision variables
# supply_cities = range(10)
# demand_cities = range(11)
# x = LpVariable.dicts("Transfer", (supply_cities, demand_cities), lowBound=0)

# # Define the cost, supply, and demand
# cost = np.random.rand(10, 11)  # Placeholder values for cost
# supply = np.random.randint(1, 10, size=10)  # Placeholder values for supply
# demand = np.random.randint(1, 10, size=11)  # Placeholder values for demand

# # Define the objective function
# prob += lpSum(x[i][j] * cost[i][j] for i in supply_cities for j in demand_cities)

# # Define the supply constraints
# for i in supply_cities:
#     prob += lpSum(x[i][j] for j in demand_cities) == supply[i]

# # Define the demand constraints
# for j in demand_cities:
#     prob += lpSum(x[i][j] for i in supply_cities) >= demand[j]



# # Solve the linear programming problem
# prob.solve()

# # Create a matrix to store the optimal solution
# transfer_matrix = np.array([[x[i][j].varValue for j in demand_cities] for i in supply_cities])
# print(transfer_matrix)